APP_DEBUG=0
APP_TIMEZONE=UTC
APP_THEME=PrettyDocs-Theme-master
APP_TEMPLATE_EXT=html
APP_LANGUAGE=en
APP_LOGO=raccoon_logo.png
APP_FAVICON=favicon.ico
APP_IMAGE_QUALITY=90
APP_LOGO_HEADER_SIZE=60x60
APP_USER_PHONE_MASK=+1
APP_TELEGRAM=
APP_EMAIL=

DB_HOST=localhost
DB_DATABASE=raccon
DB_USERNAME=raccon
DB_PASSWORD=
